<h1>Dashboard</h1>

{# USER AREA #}
{% if is_granted('ROLE_USER') %}
    <ul>
        <li><a href="{{ path('app_logout') }}">Logout</a></li>
    </ul>
{% if is_granted('ROLE_WORKER') %}
    <h2>Product</h2>
    <a href="{{ path('app_product_index') }}">Manage Products</a>
{% endif %}
    <h2>My Orders</h2>
    <a href="{{ path('app_order_index') }}">Go to Orders</a>

    <h2>My Invoices</h2>
    <a href="{{ path('app_invoice_index') }}">Go to Invoices</a>
{% endif %}

{# ADMIN / WORKER AREA #}

